[2019-10-26 03:04] Finesse opened #42 "Coverage report doesn't appear on the Overview tab"
I've set up [a GitHub Actions workflow](https://github.com/Finesse/SwiftMailerDefaultsPlugin/blob/master/.github/workflows/test.yml) to report my test code coverage to Code Climate. The workflow uses this action. As a result, the coverage report appears in the project settings:

| <img width="796" alt="image" src="https://user-images.githubusercontent.com/9006227/67613254-c885cd80-f7ee-11e9-8519-4

[2019-10-26 03:54] paambaati commented on #42
@Finesse Thanks for the detailed report. Let me debug this; I’ll try to ship a fix this weekend.

[2019-10-27 02:33] paambaati commented on #42
@Finesse Do you mind testing my fix? You can use the branch `branch-name-fix-42`.

In your Actions YML, simply replace `uses: paambaati/codeclimate-action@v2.2.1` with `uses: paambaati/codeclimate-action@branch-name-fix-42`

[2019-10-27 02:54] Finesse commented on #42
@paambaati The action fails: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/276345629#step:5:6

[2019-10-27 03:07] paambaati commented on #42
Looks like using the branch doesn’t work. Let me merge this and you can perhaps try `master`.

[2019-10-27 03:09] Finesse commented on #42
@paambaati I think you are not right. Your `action.yaml` points to `lib/main.ts` while the file is located at `src/main.ts`.

[2019-10-27 03:21] paambaati commented on #42
@Finesse `lib/main.js` is generated during [build](https://github.com/paambaati/codeclimate-action/blob/d87b4eb67f6e6979f38fbf9ae3d529d462919a12/release.sh#L16), so that isn't an issue.

I just pushed a new release ([`v2.2.2`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.2.2)) with the fix. Can you try that and let me know if it works?

[2019-10-27 03:45] Finesse commented on #42
@paambaati Still fails: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/276363513#step:1:7

[2019-10-27 05:48] paambaati commented on #42
@Finesse Sorry for the back and forth! Can you try release [`v2.2.3`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.2.3)?

[2019-10-27 09:23] Finesse commented on #42
@paambaati Fails: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/276484319#step:1:7

[2019-10-27 12:11] paambaati commented on #42
@Finesse Can you try [`v2.2.4`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.2.4)?

[2019-10-27 12:14] Finesse commented on #42
@paambaati The same, fails: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/276563757#step:1:7

[2019-10-29 04:45] paambaati commented on #42
@Finesse I've entirely removed the dependency causing this issue. Can you try [`v2.2.5`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.2.5)?

[2019-10-29 04:48] Finesse commented on #42
@paambaati Fails, but the error is new: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/278796185#step:1:9

[2019-10-29 04:57] paambaati commented on #42
@Finesse Sorry this is taking a lot of time, but can you now try [`v2.2.6`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.2.6)?

[2019-10-29 05:07] Finesse commented on #42
@paambaati Fails with another error: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/278808824#step:5:6

[2019-10-30 08:04] vinicius33 commented on #42
Hey guys,
I'm having the same issue. @paambaati let me know if I can help you somehow.

Thanks!

[2019-10-30 10:56] paambaati commented on #42
For now, I'd recommend sticking to `v2.2.1`. I'm still not sure what's causing this problem, so @vinicius33, if you can try to include more debug steps to the latest `master` and help with a root-cause, I'd appreciate it a lot!

[2019-10-30 11:02] vinicius33 commented on #42
TBH @paambaati, it seems that everything's alright now. However, for some reason, `lib/main.js` isn't being built when you publish the action to the store.
I'd assume that something went wrong with your `release` workflow. Perhaps this action `https://github.com/paambaati/codeclimate-action/blob/master/.github/workflows/release.yml#L10` was the problem ?

[2019-10-30 11:04] paambaati commented on #42
@vinicius33 That action actually **does** build `lib/main.js` - see https://github.com/paambaati/codeclimate-action/blob/gh-actions/lib/main.js

It pushes the actual release output to the `gh-actions` branch.

[2019-10-30 13:16] vinicius33 commented on #42
@paambaati I see... that's weird. Maybe a new release might help?

[2019-10-30 17:24] vinicius33 commented on #42
@paambaati it seems like the latest commit for this file was 2 days ago. 🤔

[2019-10-31 00:43] paambaati commented on #42
@vinicius33 Only because the last release (see https://github.com/paambaati/codeclimate-action/issues/42#issuecomment-547256277) was 2 days ago.

[2019-10-31 04:15] paambaati commented on #42
@Finesse @vinicius33 Can you retest `v2.6.6`? I just pushed out the same release again, and it seems to work.

[2019-10-31 04:24] Finesse commented on #42
@paambaati It doesn't fail: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/282740248#step:5:0

But the branch name still has `refs/heads/`

<img width="807" alt="image" src="https://user-images.githubusercontent.com/9006227/67918940-2862e680-fbea-11e9-8a51-dc3b381a2ac8.png">

[2019-10-31 04:32] paambaati commented on #42
@Finesse Phew, at least we're able to proceed now.

Can you re-run it? I just pushed `v2.2.6` again with [another fix](https://github.com/paambaati/codeclimate-action/commit/578f4025fc651c981df86e585988b3524a49c434).

[2019-10-31 04:41] Finesse commented on #42
@paambaati The same:

<img width="786" alt="image" src="https://user-images.githubusercontent.com/9006227/67919442-09fdea80-fbec-11e9-9d8e-b063a748710a.png">

BTW, could please add an action parameter to turn on/off the Code Climate debug? It will add additional information for Code Climate support:

[2019-10-31 04:42] Finesse commented on #42
The regexp must be `/^refs\/heads\//` instead of `/^refs\/head\//`

[2019-10-31 04:43] paambaati commented on #42
@Finesse I just realized that! Let me do that first.

Doable, let me include that too in the next release.

[2019-10-31 05:53] paambaati commented on #42
@Finesse Can you try [`v2.3.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.3.0) now? It should fix this issue and also include `--debug` support.

The README is also updated with examples.

[2019-10-31 06:01] paambaati commented on #42
@Finesse Can you try [`v2.3.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.3.0) now? It should fix this issue and also include `--debug` support.

The README is also updated with examples.

[2019-10-31 07:48] Finesse commented on #42
@paambaati The coverage has been successfully reported.

But the `debug` option doesn't work: https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/282820415#step:5:4. Maybe you need to add it to [action.yml](https://github.com/paambaati/codeclimate-action/blob/master/action.yml).

[2019-10-31 08:06] paambaati commented on #42
@Finesse Pushed [`v2.3.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.3.0) again. Can you try?

[2019-10-31 09:26] paambaati commented on #42
@Finesse Looks like it worked. Can I close this issue?

[2019-10-31 09:27] Finesse commented on #42
@paambaati I'm performing the final test on the `master` branch. I'll let you know when it finishes.

[2019-10-31 10:04] Finesse commented on #42
@paambaati Everything looks good: [PR auto comment](https://github.com/Finesse/SwiftMailerDefaultsPlugin/pull/3#issuecomment-548278410), [debug information](https://github.com/Finesse/SwiftMailerDefaultsPlugin/runs/283013530#step:5:30) and [the Overview tab](https://codeclimate.com/github/Finesse/SwiftMailerDefaultsPlugin). The issue can be closed.

Thank you!

[2019-10-31 10:05] #42 closed

[2020-01-11 20:51] libre-man opened #86 "Coverage report doesn't seem to be reported for pull requests"
I think this is related to #42, as the `GITHUB_REF` environment variable is something else than is expected in the code. Here is the documentation for the environment variables and their value when the action runs for a pull request: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#pull-request-event-pull_request

[2020-01-12 03:32] paambaati commented on #86
@libre-man Thanks for reporting; can you turn on debugging with `debug: true` and then paste the output here?

[2020-01-12 14:56] libre-man commented on #86
Sure, here is the output of a run with debug set to true: https://pipelines.actions.githubusercontent.com/UPnQIIdR7GsnLGuVExRBQ5d7xkAF3CK3ENMoNtQpumuxcInF1l/_apis/pipelines/1/runs/1210/signedlogcontent/3?urlExpires=2020-01-12T14%3A56%3A17.5147160Z&urlSigningMethod=HMACV1&urlSignature=fAFbQKVb8WVNlPKbVnWq13a87NPz2RuxEXf%2FqHXrKg0%3D

[2020-01-24 22:34] limonte opened #93 "Error: could not find any viable formatter, but the coverage report in clover format is there"
Link: https://github.com/sweetalert2/sweetalert2/runs/408048303?check_suite_focus=true

![image](https://user-images.githubusercontent.com/6059356/73108876-3f278980-3f0a-11ea-839c-a4f64b24b453.png)

There's the coverage report in `clover` format, you can verify in downloading the artifact:

![image](https://user-images.githubusercontent.com/6059356/73108913-59616780-3f0a-11ea-9792-a9a4177c0a09.png

[2020-02-02 02:38] paambaati commented on #86
@libre-man Terribly sorry, but I’ve been unexpectedly busy and looks like the pipeline has expired. I plan to look at this and try to fix this tomorrow, so it’d be great if you can run it again and share the output.

[2020-02-02 02:39] paambaati commented on #93
@limonte That’s strange. Are you able to manually push coverage from the action?

[2020-02-02 08:38] limonte commented on #93
@paambaati thanks for the response! what do you mean by "manually"?

[2020-02-02 08:56] paambaati commented on #93
Here’s what I’d generally do in such cases —

1. Download the CodeClimate reporter and run tests locally and push the report myself manually.

2. If that works, then do the same thing via a shell script in an action step.

My guess is, the reporter can’t pick up your coverage output and is technically outside the scope of this action.

However, let me know if you can try this and see if it works.

[2020-02-02 20:59] limonte commented on #93
you're right, the issue is most probably on the cc-reporter, side. Closing this issue in favor of https://github.com/codeclimate/test-reporter/issues/417

[2020-02-02 20:59] #93 closed

[2020-02-04 11:23] peterdanis opened #98 "Does not work on Windows images"
Hi, currently CodeClimate support only Linux and OS X (https://docs.codeclimate.com/docs/configuring-test-coverage#section-locations-of-pre-built-binaries). Please mention that in the readme file and throw an undestandable error in the code.

Related: https://github.com/codeclimate/test-reporter/issues/419

[2020-02-14 20:58] Yanchek99 opened #102 "after-build issue with latest simplecov"
Odd behaviors happening with latest simplecov, seems like an issue getting the committed at timestamp which seems unrelated to the simplecov update but wanted to mention just incase.

SimpleCov version 0.18.2

CI Code
[code]

Error
[code]

[2020-02-14 21:28] davehenton commented on #102
Hi @Yanchek99 ,

Dave here with Code Climate. Unfortunately, Code Climate's test reporter isn't compatible with the latest version of SimpleCov. We're actively in touch with the maintainers, and we hope to resolve this in the near future. You can keep track of our progress here: https://github.com/codeclimate/test-reporter/issues/413

For now, the simplest solution is for you to revert back to you

[2020-02-14 21:35] Yanchek99 commented on #102
Hey @davehenton, Thanks for quickly commenting on this.  I can rollback SimpleCov for now not a problem.  I will close this in favor of the other issue.

Thanks again.

[2020-02-14 21:35] #102 closed

[2020-02-18 21:58] partydrone commented on #86
I'm also seeing this issue. It looks like the branch name is not reported correctly. It looks like the branch name reported by the action is for the pull request, not the git branch:

<img width="1518" alt="Screen Shot 2020-02-18 at 10 38 11 AM" src="https://user-images.githubusercontent.com/57892/74764255-9e916480-523e-11ea-8c9c-3b34bfee42e6.png">

Here is the relevant bit from my [Action logs](h

[2020-02-21 15:30] toshimaru opened #109 "CodeClimate Report for Go doesn't work"
## Error

Actions Result URL: https://github.com/toshimaru/nyan/runs/459063904

[code]

## My Setting

[code]

## Other information

`cc-test-reporter` on TravisCI works with the following setting.

[code]

[2020-02-22 14:20] ccremer commented on #109
This also hit me. Key is to make the `--prefix` configurable as well in this action.

Until this is resolved, I'm working around it:
[code]

[2020-02-23 09:50] Maarten-vd-Sande opened #110 "CodeClimate action for Python (conda) does not work"
I think similar to https://github.com/paambaati/codeclimate-action/issues/109 where it doesn't work for GoLang, it also doesn't work for Python coverage:

[code]

Results in:
[code]

[2020-02-24 08:56] Maarten-vd-Sande commented on #110
I think the problem is that I am making use of conda as environment management, and coverage.py is installed there. Conda is a bit finicky, and needs to be initialized. This initialization is not carried along between steps, so that means coverage can not be found.

https://github.com/actions/starter-workflows/issues/44

Somehow I can not pass multiple Commands to coverageCommand:

`conda init pow

[2020-02-25 06:16] paambaati commented on #109
@toshimaru @ccremer I've created a PR (#111) that attempts to include support for prefix. Can you try it out?

You'll have to modify your action YAML to use —

[code]

[2020-02-25 09:04] ccremer commented on #109
Hi, thanks for getting into this!

Unfortunately it fails with Error:
[code]
https://github.com/ccremer/znapzend-exporter/pull/2/checks?sha=f96a6c101dba6e92b92a4815f618b66203959ffd

[2020-02-25 12:14] paambaati commented on #109
@ccremer Sorry, but can you try again? I just pushed a new release.

[code]

[2020-02-25 13:17] ccremer commented on #109
Seems to work :tada:

https://github.com/ccremer/znapzend-exporter/pull/2/checks?check_run_id=467224832

[2020-02-25 13:27] #109 closed

[2020-02-26 04:30] #86 closed

[2020-02-26 04:33] paambaati commented on #86
@libre-man @partydrone I've just pushed [`v2.5.1`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.1) with a fix for this. Feel free to reopen this issue if it doesn't work.

[2020-02-26 04:38] toshimaru commented on #109
It worked! 👍
https://github.com/toshimaru/nyan/pull/73/checks?check_run_id=468919116

@paambaati Thanks for you quick work :)

[2020-02-26 04:39] #98 closed

[2020-02-26 04:43] paambaati commented on #98
@peterdanis Fixed in [`v2.5.2`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.2).

[2020-02-26 05:23] toshimaru commented on #109
@paambaati
The action succeeded, but the reporting seems not work.
https://github.com/toshimaru/nyan/pull/73

I put some captures on the PR, diff-coverage and total-coverage have not been reported properly.

[2020-02-26 06:10] paambaati commented on #109
@toshimaru Thanks, can you show me reports/logs? I'm still trying to understand how exactly the reporter itself works (note that this action is only a small wrapper for the reporter).

[2020-02-26 07:19] toshimaru commented on #109
@paambaati

this is whole log:

https://github.com/toshimaru/nyan/runs/468939395

[code]

## image

![image](https://user-images.githubusercontent.com/803398/75321239-acd12780-58b3-11ea-878e-1a4eab8d5025.png)

[2020-02-26 08:32] Maarten-vd-Sande opened #117 "Coverage.py (python)"
I am trying to get codeclimate-action to work with coverage.py. However I am having some issues. I switched from conda to pip which solved the issue that the command coverage isn't found. However now I have some issues with the action mangling paths it seems:

[code]

It manages to find the coverage.xml file, but somehow something goes wrong with the paths. I am not sure what could be causing this

[2020-02-26 08:33] Maarten-vd-Sande commented on #117
The error looks a bit like #102. Should I revert to an older version of coverage.py?

[2020-02-26 08:41] Maarten-vd-Sande commented on #117
On my local machine this works:
[code]

[2020-02-26 08:49] ccremer commented on #109
@toshimaru Why is the prefix empty? For Go it's needed to give the prefix that is named the same as the directory (I think, or is it the Go module :thinking: )

[2020-02-26 08:51] paambaati commented on #117
@Maarten-vd-Sande Can you link me to the action run log where `debug` is `true`?

[2020-02-26 08:52] Maarten-vd-Sande commented on #117
You mean this?
https://github.com/vanheeringen-lab/peaksql/runs/469251819?check_suite_focus=true

[2020-02-26 08:56] Maarten-vd-Sande commented on #117
I am not sure if you can see the log, but I think my first message gives it.

[2020-02-26 09:05] #117 closed

[2020-02-26 09:10] paambaati commented on #109
@toshimaru I've pushed a fix for this. Can you try [`v2.5.3`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.3)?

[2020-02-26 09:11] paambaati commented on #117
@Maarten-vd-Sande I've pushed a fix for this. Can you try [`v2.5.3`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.3)?

[2020-02-26 09:11] Maarten-vd-Sande commented on #117
Yes I saw it! It seems to work!
https://github.com/vanheeringen-lab/peaksql/runs/469306889?check_suite_focus=true

[2020-02-26 09:15] Maarten-vd-Sande commented on #117
Thanks a lot for the super fast fix!

[2020-02-26 09:21] paambaati commented on #110
@Maarten-vd-Sande I'd rather wait for https://github.com/actions/toolkit/pull/285 to land before attempting to solve this problem.

Technically possible but escaping delimiters, especially in a shell context, can be tricky because most of them already mean something in shells.

[2020-02-26 09:35] Maarten-vd-Sande commented on #110
I understand. Currently I solved it by switching to pip instead of conda and it works just as well, so for me personally there is no hurry.

[2020-02-26 11:42] paambaati commented on #110
Sounds good, I’ll close this for now then.

[2020-02-26 11:42] #110 closed

[2020-02-26 16:48] toshimaru commented on #109
@ccremer
Yes, you're right, I added prefix option and set it properly, then it works! Thank you 💯

@paambaati
I use v2.5.3, but it doesn't work since it doesn't set prefix correctly:
https://github.com/toshimaru/nyan/runs/470034484

I re-use v2.5.0 and add prefix, it works:
https://github.com/toshimaru/nyan/runs/470074429

[2020-02-26 16:54] paambaati commented on #109
@toshimaru So I looked at your workflow YAML, and you’re using your project’s Github URL as the `prefix`, when you should be giving it the test directory path.

From https://docs.codeclimate.com/docs/configuring-test-coverage —

[2020-02-28 22:43] ccremer opened #119 "Failing unit tests does not abort the action"
I was wondering why my unit tests seemingly passed, but no coverage report was generated.
I noticed in the job logs that my unit tests failed, but the action continued, making it seem that the check passed. But there's an error that gets ignored:
[code]
See here: https://github.com/ccremer/znapzend-exporter/runs/475913996?check_suite_focus=true

For now, I'll have to run the unit tests twice I gue

[2020-03-04 01:55] awentzel opened #125 "Do you support running on mono-repositories"
It's unclear if your action supports running across mono repositories where there are multiple packages with some using code coverage and others not.

Could you provide documentation and or answer to this question?

Thanks

[2020-03-04 01:56] awentzel opened #126 "How do you configure different format coverages?"

[2020-03-04 02:00] paambaati commented on #126
The CC reporter can automatically pick up different coverage formats. Is there a specific case where it isn’t able to do that? Can you show me an action where this isn’t working?

[2020-03-04 02:04] paambaati commented on #125
You can add multiple `coverageLocation`s — check out the [example](https://github.com/paambaati/codeclimate-action/blob/master/README.md#example-with-jacoco).

[2020-03-04 06:52] paambaati commented on #119
@ccremer [`v2.5.4`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.4) should fix this issue!

[2020-03-04 09:52] ccremer commented on #119
Unfortunately, still not fixed: https://github.com/ccremer/znapzend-exporter/runs/484538939

[2020-03-27 23:14] vladjerca opened #140 "Code climate coverage checks are not reporting on PRs"
Currently the SHA environment variable in case of `pull_requests` reports the SHA of the `merge` commit created by Github.

This will render an indefinite pending state for code coverage status checks:

![image](https://user-images.githubusercontent.com/6339681/77807744-0d0ce200-7089-11ea-877c-272b3409af76.png)

[2020-03-28 09:06] #140 closed

[2020-03-28 09:18] #126 closed

[2020-03-28 09:18] #125 closed

[2020-03-29 15:40] jasonkarns opened #142 "Request: v1, v2 major-version branches"
GitHub Actions recommends (and the community has a convention) that a vN branch exists that always points to the latest minor/patch release for a given major release line. This way users can receive patch and minor updates without continually bumping their workflow manifests.

Some docs mention using a tag for this ref; but that's not really recommended practice since it runs counter to git's expe

[2020-03-29 16:17] jasonkarns commented on #119
Same error. My coverage file is generated successfully but I received this error because the coverageLocation was empty.

[code]

However, the whole action still reported a successful exit so there was no indication that anything was wrong :(

[2020-03-29 16:21] paambaati commented on #119
Apologies, but I still haven’t been able to root-cause this properly.

Would you mind running the latest version and reporting back?

[2020-03-29 16:32] jasonkarns commented on #119
I'm running 2.5.6

[2020-03-30 13:55] ccremer commented on #119
If anyone needs a working solution, I moved the test command (with coverage generation) outside of this action in the meantime (in `.goreleaser`s `before.hooks` to be exactly) and using 2.5.0, which seems to be stable:
[code]

[2020-04-07 11:23] andreipislariu commented on #119
The 2.5.0 version still has some problems: I don't get the right Branch name and Commit SHA in CodeClimate, if it is getting triggered by a pull request.

I see the problem with the in 2.5.5, but just the branch name, I still have problems with the commit sha.

[2020-04-07 11:25] andreipislariu opened #148 "Wrong commit SHA"
Hi,

I trigger the tests and the coverage by pull request. When I check in Code Climate, I do see the right name, but not the right commit sha.

Based on what the great google says:

"When the action is triggered by a pull_request event, GitHub will squash and merge this branch with the base branch, generating a new commit, thus a new hash.
The commit we want (the HEAD in the branch we're merging)

[2020-04-07 11:47] andreipislariu commented on #148
actually, I think that this issue has been solved in 2.5.6, but I cannot check it, because I have the same error as: https://github.com/paambaati/codeclimate-action/issues/119

[2020-04-11 15:28] markkevans commented on #119
@ccremer can you test something for me and add the coverageLocations to the github actions workflow file, this fixes the issue for my test repository I think see [this example](https://github.com/markkevans/test-action/blob/master/.github/workflows/build-and-publish.yml)

[2020-04-11 19:48] markkevans commented on #119
@jasonkarns  can you test something and add the coverageLocations to the github actions workflow file, this fixes the issue for my test repository I think see [this example](https://github.com/markkevans/test-action/blob/master/.github/workflows/build-and-publish.yml)

[2020-04-12 02:30] AshLePoney opened #150 "Error with 2.5.6"
Hey :vulcan_salute:

I encounter an error with version `2.5.6` which does not fail the job, even when trying to define a location no format is retrieved.
I don't really understand, I don't know where the problem comes from. I've downgrade the version to `2.5.0` to get it working.

The test reporter error:
https://github.com/codeclimate/test-reporter/blob/master/cmd/format-coverage.go#L86

Invalid

[2020-04-12 10:42] paambaati commented on #119
@markkevans Thanks for the workaround. If it indeed works, then it might give me a clue about the issue.

@andreipislariu @ccremer @jasonkarns Can you folks confirm that this workaround works?

[2020-04-12 12:56] ccremer commented on #119
With 2.5.6 it gets interesting. Previously an [unsuccessful](https://github.com/ccremer/znapzend-exporter/runs/475913996?check_suite_focus=true) run continued. Now it's the opposite: A successful test runs [but fails to format](https://github.com/ccremer/znapzend-exporter/runs/580605686?check_suite_focus=true)

The workaround with [specifying coverageLocations works](https://github.com/ccremer/zna

[2020-04-15 19:37] awentzel opened #152 "Does this Action support mono-repositories?"
We have a mono repository and would like to use this Action, however, there is no documentation or examples that indicate support for mono-repositories.

Could you provide guidance on this topic question?

Thanks,

[2020-04-15 19:38] #152 closed

[2020-04-16 23:38] awentzel opened #153 "coverageLocations fails with more than once package"
Using coverageLocations fails to work.  I've tried many different options and the only one that seems to work is running on a single package.

[code]

[2020-04-17 11:18] paambaati commented on #153
@awentzel Can you link me to a failing run?

[2020-04-17 12:45] #119 closed

[2020-04-17 12:51] paambaati commented on #119
@markkevans @andreipislariu @ccremer @jasonkarns I've finally root-caused the issue and fixed it!

Can you folks test [`v2.5.7`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.7)?

[2020-04-17 12:52] paambaati commented on #150
This is a duplicate of #119.

[2020-04-17 12:52] #150 closed

[2020-04-17 12:53] paambaati commented on #148
@andreipislariu #119 has now been fixed in [`v2.5.7`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.5.7).

[2020-04-17 12:53] #148 closed

[2020-04-18 10:20] ccremer commented on #119
With 2.5.7 now something else broke again... https://github.com/ccremer/znapzend-exporter/runs/597634507?check_suite_focus=true:
[code]
[code]

[2020-04-18 10:22] paambaati commented on #119
@ccremer Can you configure your job to include the [`debug: true`](https://github.com/paambaati/codeclimate-action#inputs) flag and the [`ACTIONS_STEP_DEBUG` secret to `true`](https://github.com/actions/toolkit/blob/master/docs/action-debugging.md#how-to-access-step-debug-logs) so I can get additional debugging information?

[2020-04-18 10:24] ccremer commented on #119
Update: it seems the coverageLocation parameter is now mandatory, then it works:
[code]

[2020-04-18 10:26] paambaati commented on #119
@ccremer Can you link me to both the runs with the additional flags turned on (see https://github.com/paambaati/codeclimate-action/issues/119#issuecomment-615837557)?

[2020-04-18 10:32] ccremer commented on #119
Run with Debug, without coverageLocations: https://github.com/ccremer/znapzend-exporter/runs/597644995?check_suite_focus=true
Run with Debug, with coverageLocations: https://github.com/ccremer/znapzend-exporter/runs/597647668?check_suite_focus=true

[2020-04-18 10:36] ccremer commented on #119
A failing unit test stops the action, so thats good so far: https://github.com/ccremer/znapzend-exporter/runs/597650813?check_suite_focus=true

[2020-04-20 21:06] awentzel commented on #153
Hi @paambaati - here is a draft pr with update `v2.5.7` https://github.com/microsoft/fast-dna/actions/runs/83229740

Also, did this Action on GH Marketplace get removed?  My bookmark to it is now 404ing.

Thanks,
Aaron

[2020-04-21 06:17] hitmands opened #159 "unable to recognise "lcov" format due to a earlier failure"
**Describe the bug**
The upload fails without causing the job to fail

**Example links**
![image](https://user-images.githubusercontent.com/5674833/79831698-d2544c00-839f-11ea-9809-2025b95c776c.png)

![image](https://user-images.githubusercontent.com/5674833/79831756-ebf59380-839f-11ea-9aad-582b10e0e6ee.png)

**Expected behavior**
The coverage report should be recognised as "lcov" and correctly up

[2020-04-21 15:04] awentzel opened #160 "Question: Is coverageCommand required if coverage has already been created?"
**Is your feature request related to a problem? Please describe.**
I'm already running code coverage via `lerna run test --stream` and the documentation is not clear if `coverageCommand` is required on my monorepository if `/coverage` has already been created.

**Describe the solution you'd like**
The `coverageCommand` should be optional.

**Describe alternatives you've considered**
1. Add a scrip

[2020-04-22 16:20] MartinNuc commented on #153
I have the same problem. `coverageLocations` doesn't accept an array like mentioned in docs but just a string.

I believe the reason is described here: https://github.community/t5/GitHub-Actions/Can-action-inputs-be-arrays/td-p/33776

There are two workarounds:

1. use JSON
2. use string with spaces/newlines and split it into the array in the code

I will try it and make a PR 🙂

[2020-04-22 21:28] awentzel commented on #153
Thanks @MartinNuc, appreciate your help.  I was going to submit some doc updates as well as soon as I got it figured out.  Were you able to get it to actually format_coverage, sum_coverage, and upload_coverage?  If that works it's a step in the right direction for sure.  The script methods I used on Circle CI seem to be broken on GH Actions now with the cc-test-reporter.  In fact, cc-test-reporter

[2020-04-22 21:31] MartinNuc commented on #153
Not yet. Still working on it. I had to convert also prefix into array. So files are being passed now as a multiline string (last segment after `:`):

[code]

Right now have a problem that `format_coverage` is trying to read files without prefix. I will have to try it locally first and then I will submit PR.

[2020-04-22 22:37] awentzel commented on #153
@MartinNuc , I did a test and got through that part thanks to your suggestion.  But, haven't had any luck yet getting format_coverage to work.  In fact, I have a few threads on this issue, including a different approach scripting in the CI rather than using an Action.  But, all roads for that have resulted in `no such file or directory`.  Very challenging problem on mono-repositories.  What `cover

[2020-04-22 23:18] MartinNuc commented on #153
Finally got it working. My problem was actually with the instanbul coverage file. There were relative urls which didn't work well with monorepo. I had to set the `projectRoot` in jest config.

Here is the issue if someone had the same problem: https://github.com/istanbuljs/istanbuljs/issues/529

It turned out that there is no need to use different prefix for each covarageLocation therefore I remov

[2020-04-23 09:21] igorbiscanin opened #164 "Run a gradle command as a coverageCommand"
I am trying to run a gradle tasks as coverageCommand, but the task is not found.

Here is my config:

[code]

Is there an option to set a working directory or something. Any hints/leads what am I doing wrong.

[2020-04-23 09:45] paambaati commented on #164
@igorbiscanin Please follow the issue template and include links to your failing runs so we can see logs.

[2020-04-23 09:46] paambaati commented on #153
@MartinNuc Would be super-helpful if you can add these to the README's examples section as well.

[2020-04-23 10:11] MartinNuc commented on #153
@paambaati Actually I did here https://github.com/paambaati/codeclimate-action/pull/163/files#diff-04c6e90faac2675aa89e2176d2eec7d8L44

[2020-04-23 14:03] igorbiscanin commented on #164
Attaching logs:

Starting a Gradle Daemon, 1 incompatible Daemon could not be reused, use --status for details

FAILURE: Build failed with an exception.
* What went wrong:
Task 'jacocoTestReport' not found in root project 'xxx'.

* Try:
Run gradlew tasks to get a list of available tasks. Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2020-04-23 14:20] paambaati commented on #164
@igorbiscanin This looks like a problem with how you're running `gradle` itself and not this action.

[code]

To help validate this, I'd recommend running your build and coverage commands sequentially as part of a separate step in your workflow and see if they all work. You can try something like this —

[code]

[2020-04-23 14:25] igorbiscanin commented on #164
So a coverageComamnd can be skipped?

[2020-04-23 14:26] paambaati commented on #164
@igorbiscanin Include that too and see where it fails.

[2020-04-24 07:41] #153 closed

[2020-04-24 08:00] paambaati commented on #159
@hitmands Can you try [`v2.6.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.6.0)? Also please follow the issue template and include links, not screenshots.

[2020-04-24 08:02] paambaati commented on #160
@awentzel The `coverageCommand` is optional, and defaults to `yarn coverage` if not given. This is documented (see https://github.com/paambaati/codeclimate-action#inputs).

[2020-04-24 08:02] #160 closed

[2020-04-24 08:03] paambaati commented on #153
Thanks a ton @MartinNuc! This fix has now landed in [`v2.6.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.6.0).

[2020-04-24 08:25] igorbiscanin commented on #164
looks like it tries to run some default command:

[code]

[2020-04-24 12:21] paambaati commented on #164
@igorbiscanin This tells you that `package.json` is missing.

1. Does your project have one?
2. If yes, then are you sure you're correctly using paths?

[2020-04-28 22:01] awentzel opened #169 "Mono repository incorrectly reporting success"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When running the following GitHub Action on a Lerna mono-repository if any single package fails, it still reports success.

In my example, the projectRoot incorrectly pointed to `../../../` instead of below code block, causing format_covera

[2020-05-06 22:54] wagenet commented on #169
I'm seeing something similar though my scenario is a bit simpler.
Here are my logs:
[code]

[2020-05-06 22:56] wagenet commented on #159
I'm seeing something similar:

[code]

[2020-05-13 22:54] CeeDeeBee commented on #159
Still having this issue in 2.6.0. Getting the same error as posted above by @wagenet. I believe this is due to a bug with the @actions/core dependency. Should be able to fix by merging [#172](https://github.com/paambaati/codeclimate-action/pull/172). @actions/core release 1.2.4 resolved issue [#398](https://github.com/actions/toolkit/issues/398) as seen [here](https://github.com/actions/toolkit/pu

[2020-05-14 16:13] wagenet commented on #159
In my case, I believe cc-test-reporter was failing because I didn't actually have a git repo present. (This was because I didn't have an up-to-date version of git in my container so the checkout action was actually just doing a directory copy.) I don't think this action can fix that situation, but it could handle it more gracefully, maybe even giving a warning about this scenario to the end user.

[2020-05-14 21:07] CeeDeeBee commented on #159
Ahh yeah, you're right. The @actions/core issue was not the actual cause of my issue. My error was due to integration with cypress which I was able to resolve by calling [cypress-io/github-action](https://github.com/cypress-io/github-action) before the codeclimate-action.

[2020-05-20 09:57] pierre-emmanuelJ commented on #169
I got something similar with go coverage.
[code]

[2020-05-22 18:56] insspb opened #181 "Format misconfiguration did not raise error in action (silenced)."
**Describe the bug**
Error in format change does not raise error on whole action. So no error and no coverage report at destination.

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Example links**
1. https://github.com/insspb/ikt/pull/29/checks?check_run_id=700546967

**Expected behavior**
Should fail globally, as it is error in configuration.

[2020-05-22 19:04] insspb opened #182 "coverageCommand should not be required setting"
**Describe the bug**

When repository uses several coverage sites uploads are made after test runs complete. So no need to rerun coverage.

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Example links**
1. https://github.com/insspb/ikt/pull/29/checks?check_run_id=700558166

**Expected behavior**
In example at the link `echo` command used as placeholder. This should be avoided.

[2020-05-29 02:37] geshan commented on #110
how did you solve it @Maarten-vd-Sande ?

[2020-05-29 06:28] Maarten-vd-Sande commented on #110
@geshan I "solved" it by just not using conda, but by using pip. Pip is the "standard" package manager for python. Something like this works for me:

[code]

[2020-05-29 07:01] geshan commented on #110
thanks!

[2020-05-31 19:07] Alelho opened #185 "Set the 'prefix' parameter and the action fails"
**Describe the bug**
I sent the test reporter to the code climate, but I got this error message below:

  "message": "Invalid path part \"/\" and Invalid path part \"/\"",
  "file_document": "{\"_id\"=>BSON::ObjectId('5ed3c6b842ab182246002132'), \"type\"=>\"test_file_reports\", \"blob_id\"=>\"3750e50900cfbc331b3518fb087c02bfee33a964\", \"coverage\"=>\"[null,null,null,null,null,null,null,null,4,4,0

[2020-06-23 22:55] CaffeinatedAndroid commented on #182
Yup - an issue for me too.

I perform the following step which runs a command using an emulator:
[code]

If I were to use `codeclimate-action`, `coverageCommand` would essentially repeat the previous coverage step.

[2020-07-22 05:50] CCFenner commented on #185
@Alelho the message says `Invalid path part "/" and Invalid path part "/"`, the trailing `//` in your prefix doesn't look correct. Try removing one `/`.

[2020-07-27 15:02] derekm opened #208 "JaCoCo with Maven multi-module or Gradle multi-project builds"
**Describe the bug**
`coverageLocations` can be multiple values, but `JACOCO_SOURCE_PATH` can only contain one value.

In a Java build that produces multiple jars, I need a different JaCoCo source path per coverage location.

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Expected behavior**
I should be able to specify the source paths for each coverage location.

**Additional contex

[2020-09-06 02:30] exoRift opened #223 "Question: Upload coverage without `coverageCommand`"
I would like to use this action to upload coverage, but I don't want the action to run the tests. I want them run in a separate step. How do I upload coverage without any command run in `coverageCommand`?

[2020-09-09 11:51] Fiyin-Anne opened #224 "Running 'Test and Publish Code Coverage' returns a TypeError message"
**Describe the bug**
I am trying to send the test report to code-climate. After running the job, it says the step passed but on opening it, it only contains error messages.

`(node:7164) UnhandledPromiseRejectionWarning: TypeError: (s || "").replace is not a function
    at escapeData (D:\a\_actions\paambaati\codeclimate-action\v2.5.6\node_modules\@actions\core\lib\command.js:66:10)
    at Command

[2020-09-16 00:01] #223 closed

[2020-09-22 09:47] paambaati commented on #164
Closing this as stale. Please reopen if you have more information.

[2020-09-22 09:47] #164 closed

[2020-09-22 09:48] paambaati commented on #159
Closing this, as this seems to be resolved. If you're still seeing this in the latest v2.7.0 release, please feel free to reopen.

[2020-09-22 09:48] #159 closed

[2020-09-22 09:49] paambaati commented on #181
Should be fixed in the latest [`v2.7.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.0) release.

[2020-09-22 09:49] #181 closed

[2020-09-22 09:50] paambaati commented on #224
@Fiyin-Anne Can you try this out with the latest [`v2.7.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.0) version? It has better reporting and should help you pinpoint the issue.

[2020-09-22 09:51] paambaati commented on #169
Can you folks try out the latest [`v2.7.0`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.0) release? It has better error handling and should help you pinpoint issues better.

[2020-09-22 09:52] paambaati commented on #185
@Alelho If the recommendation from @CCFenner didn't work, please reopen.

[2020-09-22 09:52] #185 closed

[2020-09-22 09:55] paambaati commented on #182
Can you folks help me understand this a little better? Are you saying you've already generated coverage output in a previous step and only need this action to simply upload the coverage output?

[2020-09-22 11:08] CaffeinatedAndroid commented on #182
@paambaati Yes.

The command I use to generate the coverage report is required by another GitHub Action. So I use your action just to upload to Code Climate.

For example:
[code]

[2020-09-22 15:45] #182 closed

[2020-09-22 15:49] paambaati commented on #182
This is now available in [`v2.7.1`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.1)!

[2020-09-25 14:20] hitmands opened #234 "Glob support for coverage locations"
**Is your feature request related to a problem? Please describe.**
It would be great to use `glob` to describe coverage locations

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Listing every package manually

[2020-09-28 00:51] dashmug opened #235 "v2.7.1 stopped sending coverage comments."
**Describe the bug**
CodeClimate coverage comments stopped updating after upgrading. I believe there were some failures in sending the coverage data to CodeClimate.

I'm referring to this:

<img width="851" alt="Screen Shot 2020-09-28 at 10 40 00 am" src="https://user-images.githubusercontent.com/1972844/94380111-7a541980-0177-11eb-9068-18588c3da8c7.png">

Version v2.6.0 works without problems. I

[2020-09-28 13:37] hitmands commented on #224
neither `2.7.0`, nor `2.7.1` seem to execute the coverage command at all...

<img width="1021" alt="Screenshot 2020-09-28 at 14 36 50" src="https://user-images.githubusercontent.com/5674833/94439273-1f7eea00-0198-11eb-95d2-7b3ad8521390.png">

[2020-09-30 17:22] bennypowers commented on #235
I experienced this as well:

https://github.com/apollo-elements/apollo-elements/runs/1189033952?check_suite_focus=true

0 seconds, no console output

[2020-10-01 04:17] paambaati commented on #235
@bennypowers Would you mind turning on debug mode and sharing the results here? You can set the `debug` option to `true`.

[2020-10-01 04:17] paambaati commented on #235
@dashmug The attached screenshot shows the codeclimate bot, which has nothing to do with this action. Can you help me understand how that is relevant here?

[2020-10-01 04:35] dashmug commented on #235
@paambaati It is relevant because it means CodeClimate did not receive any coverage data so the bot isn't triggered to do anything.

[2020-10-01 04:47] paambaati commented on #235
@dashmug Can you link me to the action run with the latest version?

[2020-10-01 04:58] #235 closed

[2020-10-01 05:05] paambaati commented on #235
@dashmug @bennypowers I was able to figure out the issue and I've now pushed a new release - please try [`v2.7.2`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.2) and reopen this issue if the problem persists.

[2020-10-01 05:06] paambaati commented on #224
@hitmands I've just now pushed a new release - please try [`v2.7.2`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.2).

[2020-10-01 05:09] Sumolari commented on #234
Is this something you are working on actively?

I'm interesting in this feature and might implement it myself if nobody is currently working on it.

[2020-10-01 05:10] paambaati commented on #234
This could be a neat value-add. @Sumolari Thanks, PRs are welcome.

[2020-10-01 05:46] lielran opened #237 "action don't run the coverageCommand"
**Describe the bug**
I tried to use the action but it seems not running the `command`
the debug flag also doesn't show any more details

**Version of `codeclimate-action` you're using**
`v2.7.1`

here is the usage part from my workflow file:
[code]
the running result:
![Screen Shot 2020-10-01 at 8 45 32](https://user-images.githubusercontent.com/1004667/94772528-808a0600-03c2-11eb-9973-b06edf6de31

[2020-10-01 05:48] paambaati commented on #237
@lielran Thanks for reporting this; this was _just_ fixes 45 minutes ago in [`v2.7.2`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.2). Please try out that version and reopen this issue if the problem persists.

[2020-10-01 05:48] #237 closed

[2020-10-01 05:49] paambaati commented on #237
Duplicate of https://github.com/paambaati/codeclimate-action/issues/235

[2020-10-01 05:50] lielran commented on #237
Thanks @paambaati  for the fastest reply ever :)

[2020-10-01 05:51] dashmug commented on #235
@paambaati v2.7.2 fixed it. Thank you very much.

[2020-10-01 05:53] lielran commented on #237
Confirmed that v2.7.2 fixed the issue

[2020-10-01 05:55] paambaati commented on #237
@lielran ![](https://media1.tenor.com/images/565d24629787db02a347bcb54bd18d47/tenor.gif?itemid=11723956)

[2020-10-01 09:16] bennypowers commented on #235
Thanks for the update

[code]

[code]
perhaps the default command should be removed?

[2020-10-01 09:25] paambaati commented on #235
@bennypowers The default command needs to be set to an empty string in https://github.com/paambaati/codeclimate-action/blob/4a8e5772114c0297e76ab96a35b40d6df2d66bca/action.yml#L11

I'd appreciate it if you can send a PR. In the meantime, please specify a coverage command explicitly.

[2020-10-01 09:33] bennypowers commented on #235
יאללה

PR incoming

[2020-10-01 10:07] bennypowers opened #239 "'coverageCommand' not set, so skipping building coverage report!"
**Describe the bug**
[code]

**Version of `codeclimate-action` you're using**
`v2.7.3`

**Example links**
https://github.com/apollo-elements/apollo-elements/runs/1192699104?check_suite_focus=true
https://github.com/apollo-elements/apollo-elements/blob/master/.github/workflows/pull-request.yml

**Expected behavior**
builds regardless

**Additional context**
See #238

[2020-10-01 10:07] bennypowers commented on #239
I"ll prepare another PR

[2020-10-01 10:19] bennypowers commented on #239
This is maybe a false negative

I'll merge my PR and check that coverage is uploaded on master branch, then report back here

[2020-10-01 10:20] bennypowers commented on #239
Indeed, the code is good. Instead, PEBCAK

<img width="972" alt="Screen Shot 2020-10-01 at 13 19 59" src="https://user-images.githubusercontent.com/1466420/94797476-d7a2d180-03e8-11eb-8960-25f5560a0419.png">

Thanks!

[2020-10-01 10:21] #239 closed

[2020-10-03 07:12] #234 closed

[2020-10-03 07:31] paambaati commented on #234
@hitmands Many thanks to @Sumolari, this is now available in [`v2.7.4`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.4) 🎉

[2020-10-20 21:44] uxxman opened #248 "Issue when testing using Appraisal for multiple gem versions"
**Describe the bug**
I am using simplecov on a ruby gem and testing via rspec. Everything works as expected. But when I add Appraisal and run test via **bundle exec appraisal rspec, code coverage report to codeclimate fails

**Version of `codeclimate-action` you're using**
`v2.7.4`

**Example links**
https://github.com/uxxman/service_record/runs/1282544874?check_suite_focus=true

[2020-11-14 19:38] sundowndev commented on #109
This is not working for me either : https://github.com/dreamvo/gilfoyle/runs/1400610928

[code]

config:

[code]

Any advice ? Thanks

[2020-11-19 21:55] fnobilia commented on #208
Hi guys! I'm having the same problem. [Here](https://github.com/data-rocks-team/schemaregistry-junit/pull/21/checks?check_run_id=1426932936) you can see an example.

[2020-12-04 05:33] matthewshirley opened #265 "Prefix parameter not passed to test-reporter if coverageLocations is empty"
**Describe the bug**
I have set the test reporter to upload without specifying the coverageLocations parameter. In this scenario, the prefix is never added to the after-build call.

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Example links**

#### CI Step

[code]

#### Environment

[code]

#### Debug

[code]

**Expected behavior**
The prefix to be added to the after-build call.

[2020-12-04 15:31] roobre commented on #265
I just came across this very same issue. Because of https://github.com/codeclimate/test-reporter/issues/378, this breaks all go tests outside of `$GOPATH`, which is the default behavior for Github Actions.

[2020-12-07 13:22] tetienne commented on #224
Sorry to up this issue, but I have exactly the same behavior: https://github.com/tetienne/somfy-open-api/runs/1510838988
I'm using v2.7.4. The report is not uploaded to CodeClimate.

[2020-12-10 03:16] paambaati commented on #265
@roobre The fix provided by @matthewshirley has now landed in [`v2.7.5`](https://github.com/paambaati/codeclimate-action/releases/tag/v2.7.5). Can you try that and see if that fixes your issue? If it doesn't, feel free to reopen this issue.

[2020-12-10 03:16] #265 closed

[2020-12-10 03:24] paambaati commented on #224
@tetienne I noticed that the error in your workflow run logs is slightly different from the one reported in this issue.

To help debug your issue, can you make this change and rerun your workflow?

[code]

[2020-12-10 09:27] roobre commented on #265
Seems to be working nice and smooth now, many thanks @paambaati @matthewshirley! ❤️

[2020-12-10 09:40] tetienne commented on #224
@paambaati Here a PR with the modification: https://github.com/tetienne/somfy-open-api/pull/67

[2020-12-10 11:28] paambaati commented on #224
@tetienne The changes need to be merged before the action itself can kick in. In the run you linked, the CI ran with whatever's in your `master`; it needs to be merged first.

[2020-12-10 20:15] Jsyro opened #269 "CoveragePy Formatter not found."
**Describe the bug**
I'm attempting to use this action to report pytest results on a flask application. After the tests successfully run, the after-build job cannot find the CoveragePy package to use as a formatter.

**Version**
`v2.7.4`

**Example links**
1. Error run with debug on https://github.com/bcgov/mines-digital-trust/runs/1533132459?check_suite_focus=true

**Expected behaviour**
coverage

[2020-12-11 15:15] paambaati commented on #269
@Jsyro the error message tells me the CodeClimate reporter cannot figure out how to format your coverage output.

Are you able to upload the coverage manually after your tests run using the CC reporter manually? You can follow the documentation — https://docs.codeclimate.com/docs/test-coverage-troubleshooting-tips

[2020-12-21 02:03] dutterbutter opened #275 "Unexpected error during `before-build` process"
**Describe the bug**
Unexpected error while running `before-build` through action. See action [logs here](https://github.com/ChainSafe/gossamer/pull/1244/checks?check_run_id=1586500798). Screen shot below of error message.

<img width="1016" alt="Screen Shot 2020-12-20 at 7 59 03 PM" src="https://user-images.githubusercontent.com/29983536/102731617-e8832500-42fd-11eb-8970-77a6e09a1fd5.png">

**Ver

[2020-12-21 04:22] seongjoo-kim commented on #275
i have same error!!
plz give me any idea

[2020-12-21 04:52] paambaati commented on #275
Are you folks able to upload coverage manually?

[2020-12-21 05:19] bboyle commented on #275
Also seeing this error, with v2.7.4

[2020-12-21 08:32] dutterbutter commented on #275
Can publish manually fine using macos.

Seems to be only an issue with`ubuntu-latest`, works fine on `macos-latest`. Could be related to[ codeclimate/test-reporter/issues/449](https://github.com/codeclimate/test-reporter/issues/449) maybe?

[2020-12-21 10:11] textbook commented on #275
I'm seeing the same thing, almost certainly caused by codeclimate/test-reporter#449. Perhaps this action could take the reporter version as an input, defaulting to "latest"?

[2020-12-21 10:38] deivid-rodriguez commented on #275
Yay! It'd be great to be able to have a deterministic action in this regard and be able to lock the version of `test-reporter` being used under the hood :+1:.

[2020-12-21 10:47] deivid-rodriguez commented on #275
I'm a bit buried with things now but I can try to create a PR.

[2020-12-21 12:29] imyousuf commented on #275
Facing the same issue since today [here](https://github.com/imyousuf/webhook-broker/pull/31/checks?check_run_id=1588859227).

[2020-12-21 13:34] deivid-rodriguez commented on #275
I created [a draft PR](https://github.com/paambaati/codeclimate-action/pull/276), it'd be nice if someone could try it since I didn't try anything myself, just edited the code.

[2020-12-21 14:45] richardvenneman commented on #275
This might be related to https://github.com/codeclimate/test-reporter/issues/449

[2020-12-22 16:31] dutterbutter commented on #275
Closing this now as its been fix with latest test-reporter release.

[2020-12-22 16:31] #275 closed

[2020-12-26 02:41] ccremer commented on #109
I figured out more. The code climate reporter really depends on what is configured in go.mod.
this example here:
[code]
doesn't work with
[code]
The problematic line is `module github.com/ccremer/clustercode` in go.mod. If it were just `module clustercode`, then the config works.
So I made a little hack by just removing the `github.com/ccremer/` prefix from the cover file:
[code]
and combine with

[2021-01-27 12:23] j-mie6 opened #291 "Uploaded coverage reports don't take into account original repo"
**Describe the bug**
The reports submitted to code climate for PRs made from forks and the master branch on the original repo itself have indistinguishable names.

**Version of `codeclimate-action` you're using**
`v2.7.5`

**Expected behavior**
When I have a PR made against my repo from a fork codeclimate's diff-coverage runs. To do that it requires a coverage report from both `master` on my repo,

[2021-02-05 04:09] stevenharman commented on #142
I just hit this same thing - expecting `uses: paambaati/codeclimate-action@v2` to grab the latest 2.x series. Instead the run failed with

[code]

It would be great to keep with [expected and recommended norms for versioning](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-using-versioned-actions).

_Sidebar_: Of course my buddy @jasonkarns hit this nearly a

[2021-02-05 07:37] paambaati commented on #142
PRs welcome!

[2021-02-07 02:50] jasonkarns commented on #142
@paambaati it's not possible for outside contributors to create a branch on your repo

[2021-03-10 20:00] sergeevpasha opened #316 "Error: could not find any viable formatter 255"
**Describe the bug**
Getting an error on after-build (never saw this command running in 2.7.1 and earlier):
[code]

**Version of `codeclimate-action` you're using**
`v2.7.5`

**Expected behavior**
2.7.1 an earlier versions used to work perfectly. Now I just have no clue what to do. Is that some kind of general CC change and I have to change the config, or is that just a bug? Switched to 2.7.1 atm

[2021-03-28 10:58] sergeevpasha commented on #316
any news?

[2021-04-15 15:10] mmatheson opened #331 "Verify the downloaded executable"
**Describe the bug**
No verification of the downloaded executable `test-reporter` is done. This can lead to vulnerabilities like CodeCov recently experienced: https://about.codecov.io/security-update/

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Example links**

**Additional context**
https://about.codecov.io/security-update/

[2021-05-16 20:52] dahliacreative opened #344 "Getting UnhandledPromiseRejectionWarning"
I've tried setting up following the examples however I get this error and no reports are sent to CC:
[code]

**Version of `codeclimate-action` you're using**
`v2.5.7`

My setup is quite straightforward so not sure what is happening:
[code]
Any help, greatly appreciated!

[2021-05-16 20:56] dahliacreative commented on #344
Sorry, I wasn't passing the coverage type!

[2021-05-16 20:56] #344 closed

[2021-05-20 08:41] MrEssex opened #346 "Issue with PHPUnit and Clover"
**Describe the bug**
format-coverage throwing an UnhandledPromiseRejectionWarning as the formatter is trying to read files from an incorrect path.

**Version of `codeclimate-action` you're using**
`v2.5.7`

**Example links**
1. [Github Action with debug](https://github.com/MrEssex/simple-site/pull/5/checks?check_run_id=2622973553)
2. [PR Request with workflow php.yml](https://github.com/MrEssex/si

[2021-05-25 11:21] Mulugruntz opened #352 "Unable to locate executable file cc-reporter"
**Describe the bug**
The executable file does not seem to be found on Windows environment.

**Version of `codeclimate-action` you're using**
`v2.7.5`

**Example links**
https://github.com/Mulugruntz/aiosubprocess/runs/2664633651?check_suite_focus=true#step:9:24

**Expected behavior**
It  should work, just like on macOS and linux builds.

**Additional context**
[code]

[2021-05-26 10:11] osma commented on #346
I just hit the same issue.

I think the problem is that when using php-actions/phpunit to run the PHPUnit tests (as we are both doing), the tests will be executed within a container and the paths inside that container are different to those on the host machine (runner). On the host machine, the path to the app files is something like `/home/runner/work/<my-user>/<my-repo>` but in the phpunit conta

[2021-05-26 10:41] osma commented on #346
I solved this with a `prefix` setting, like this:

[code]

[2021-05-26 11:16] MrEssex commented on #346
@osma
Much appreciated for that mate,
Works a treat!

[2021-05-26 11:16] #346 closed

[2021-06-11 07:40] beeb commented on #331
This is really paramount!

[2021-06-18 07:10] rap2hpoutre commented on #316
Any news?

[2021-09-13 06:53] vbersier commented on #331
The test-reporter repo was updated with instructions on how to validate the executable

https://github.com/codeclimate/test-reporter#verifying-binaries

[2021-09-27 05:58] #142 closed

[2021-09-27 06:07] paambaati commented on #316
Can you please include a link to the failing run?

[2021-09-28 14:39] drzraf commented on #316
Same issue. `cc-test-reporter after-build` is expecting some mandatory parameter that `codeclimate-action` is not passing.

[2021-09-29 05:23] paambaati commented on #316
Please include a link to the failing run, along with the `debug` flag turned on, and I'd be happy to look into this issue.

[2021-09-29 13:51] paambaati commented on #269
@abhishekmishragithub I'd love it if you can send a PR for this!

[2021-09-29 13:53] paambaati commented on #352
@Mulugruntz The reporter isn't supported on Windows! If you'd really prefer it, please raise an issue on the CodeClimate repo; feel free to link it here.

[2021-09-29 13:53] #352 closed

[2021-09-29 14:19] #331 closed

[2021-09-29 15:25] vbersier opened #430 "v3.0.0 fails to load"
**Describe the bug**
When updating the action from v2.7.5 to v3.0.0, an error is shown which prevents the task to run:

[code]

**Version of `codeclimate-action` you're using**
`v3.0.0`

**Expected behavior**
Same as v2.7.5

[2021-09-30 00:12] marcospassos commented on #430
Same problem here.

[2021-09-30 02:24] paambaati commented on #430
Folks, thanks for reporting this. v3 hasn’t been published on the marketplace yet!

Although the release tag has been pushed, it isn’t available on the Marketplace for some reason. I’m taking to GitHub support about this.

[2021-09-30 05:20] paambaati commented on #430
Got a response from GitHub Support –

[2021-09-30 08:01] #430 closed

[2021-09-30 08:14] paambaati commented on #331
This feature has now landed in `v3.0.0`!

[2021-09-30 08:16] vbersier commented on #331
Confirmed working! Thanks a bunch!

[2021-10-03 15:34] sergeevpasha commented on #316
@paambaati hey, received update v3 and there is a new error now
https://github.com/sergeevpasha/laravel-dpd/pull/31/checks?check_run_id=3746560589

[2021-10-04 13:18] paambaati commented on #316
@sergeevpasha Can you re-run it? There was a brief period where v3.x was broken (see https://github.com/paambaati/codeclimate-action/issues/430) and was fixed and re-released.

[2021-10-06 01:26] danyeaw opened #434 "Can't read pyproject.toml errors"
**Describe the bug**
A couple of my repos are getting `Can't read 'pyproject.toml' without TOML support. Install with [toml] extra` errors on recent builds. I know pytest-cov recently updated, I'm not sure if this error is related to that update.

**Version of `codeclimate-action` you're using**
`v3.0.0`

**Example links**
Failing run: https://github.com/gaphor/generic/actions/runs/1310020693
Conf

[2021-10-06 04:43] paambaati commented on #434
@danyeaw This does look like an external dependency's issue. One quick way to confirm this is to modify your action to just run [these steps](https://docs.codeclimate.com/docs/configuring-test-coverage#quick-guide) and see if it works.

[2021-10-09 18:37] danyeaw commented on #434
Running `pip install coverage[toml]` prior to running the codeclimate-action fixed the issue.

[2021-10-09 18:37] #434 closed

[2021-11-01 11:57] afranken commented on #208
Looking at the codeclimate test-reporter's code reveals that a whitespace separated list is expected as input:
https://github.com/codeclimate/test-reporter/commit/b2ae857af964b1f4161d004238c45e1bf666f4f6

Unfortunately, this action does not support globbing for the environment variables (I'm guessing that it's not possible to re-set an environment variable from within the running action?), so whil

[2021-11-02 13:32] RomainCoudour opened #451 "Handling pull_request_target event"
**Is your feature request related to a problem? Please describe.**
A couple of my workflows are using the event `pull_request_target`. This event uses the default branch last commit SHA as a reference to be checked out (even if the origin is a pull request, for security reasons).

**Describe the solution you'd like**
I would like to pass explicitly a commit SHA/branch (as ref) to receive CC update

[2021-11-14 17:29] KillyMXI commented on #169
I think I got a very relate issue.

coverage action:

[code]

Error report:

[code]

There is a misformed message in the next to last line:

[code]

But what I think is the actual cause of the issue:
The action seems to be looking for source files from the root or the repository.
This is just not true for a monorepo.
And I can't provide a custom prefix because it has to be different for each packa

[2021-12-14 14:52] Fryguy opened #469 "Split action into before-build and after-build phases"
**Describe the solution you'd like**

I'd like to see the action split into the before-build phase and the after-build phase so I can run them separately, as opposed to having the action run the tests itself.  This allows me to do things like run an entire workflow in the middle.  I think the action should still allow running the full end to end if that's what's needed, but, for example, if a `wit

[2021-12-31 14:44] RomainCoudour commented on #451
Not an issue anymore.

[2021-12-31 14:44] #451 closed

[2022-01-18 18:57] uduwage-hobs commented on #434
@danyeaw thanks for your recommendation. `pip install coverage[toml]` worked. But I am curious what really caused this. I maintain a `pyproject.toml` that has requirement setup and nothing in our build process were change. But out of the blues this issue came up. I couldn't find any updates related to this on `pytest-cov`, `toml` etc. Do you know what dependency actually caused this?

[2022-03-02 22:40] marcospassos opened #509 "Reporter checksum does not match"
**Describe the bug**
All our repos suddenly stopped working with the error:
![image](https://user-images.githubusercontent.com/943036/156461830-f0922ff0-40ca-4f0f-9e76-4d04dcad267a.png)

**Version of `codeclimate-action` you're using**
`v3.0.0`

[2022-03-02 22:51] marcospassos commented on #509
Code Climate is down. That's probably the cause of the checksum mismatch.

[2022-03-04 08:56] paambaati commented on #509
@marcospassos Can you confirm this is still the case?

[2022-03-04 13:14] marcospassos commented on #509
I can confirm that Codeclimate's outage caused it.

[2022-03-04 13:14] #509 closed

[2022-03-22 17:17] selfagency opened #517 "[Bug] v3.0.0: could not find any viable formatter"
**Describe the bug**
The action says "could not find any viable formatter" when the formatter is explicitly provided.

**Version of `codeclimate-action` you're using**
`v3.0.0`

**Example links**
[code]

my config is part of a private repo

**Expected behavior**
for the code coverage to be submitted

**Additional context**
n/a

[2022-03-23 06:19] paambaati commented on #517
@selfagency Please use the template – https://github.com/paambaati/codeclimate-action/issues/new/choose

This issue lacks any context (like links to failing run, steps to reproduce, etc.)

[2022-03-24 14:50] Thorin0ak commented on #316
I had to downgrade to 2.7.1 to get it to work.

[2022-04-05 02:48] ChinmayaNathany commented on #316
Same, I had to downgrade to 2.7.1 too

[2022-04-27 12:03] ThomasKoppensteiner commented on #517
I get a similar error.
Here is an example: https://github.com/ThomasKoppensteiner/sidekiq-undertaker/actions/runs/2232901840

[2022-04-27 12:46] ThomasKoppensteiner commented on #517
I could fix the above error by "passing the coverage data between jobs".
See https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts#passing-data-between-jobs-in-a-workflow for details.

[2022-04-27 14:05] ThomasKoppensteiner opened #532 "Error: JSON: Cannot unmarshal object into Go struct"
**Describe the bug**
Uploading the code-coverage report fails with `Error: json: cannot unmarshal object into Go struct field resultSet.coverage of type []formatters.NullInt`.

[code]

**Version of `codeclimate-action` you're using**
`v3.0.0`

**Example links**
[Failing Github Actions Run](https://github.com/ThomasKoppensteiner/sidekiq-undertaker/runs/6194880873?check_suite_focus=true)
[Example Pu

[2022-04-27 14:09] ThomasKoppensteiner commented on #517
Isn't this a duplicate of #316?

[2022-04-27 14:52] joshhayes-sheen-vt opened #533 "Consider deleting the 2.7.1 release"
**Describe the bug**

The 2.7.1 release had a bug that basically cause it to silently no-op https://github.com/paambaati/codeclimate-action/issues/235

This bug was fixed in the next version, but the 2.7.1 action is still available for use, and can trip folks using old documentation or who upgraded to that version and didn't notice that their reports became outdated

https://docs.github.com/en/rep

[2022-04-28 06:57] ThomasKoppensteiner commented on #533
Given the comments in https://github.com/paambaati/codeclimate-action/issues/316#issuecomment-1077713806 and the issue described in #532 I'm wondering which version should be used.

[2022-04-28 09:23] paambaati commented on #517
@ThomasKoppensteiner From the error, I can see that a coverage report was not found. And from your workflows, it looks like tests and coverage run as separate jobs.

@selfagency I'm closing this for now, as I'm assuming the failure is genuine as there's no coverage reports to actually upload. Please feel free to reopen with additional details if you'd like.

[2022-04-28 09:23] #517 closed

[2022-04-28 09:28] paambaati commented on #533
You should be using the latest v3.0.0 version – that is also documented in the README. If the latest stable version is not working, please raise a bug.

[2022-04-28 09:28] #533 closed

[2022-04-28 09:29] paambaati commented on #316
Closing this, as there's no recent comments with relevant links.

[2022-04-28 09:29] #316 closed

[2022-04-28 09:33] paambaati commented on #532
This looks like an upstream issue, and would be better suited as an issue here – https://github.com/codeclimate/test-reporter/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

To verify this, you can try this out yourself by following the quick guide here – https://docs.codeclimate.com/docs/configuring-test-coverage#quick-guide

[2022-04-28 09:33] #532 closed

[2022-04-28 15:03] ThomasKoppensteiner commented on #532
@paambaati you were right, the issue was not related to `codeclimate-action`, but rather to https://github.com/codeclimate/test-reporter/issues/413 and https://github.com/codeclimate/test-reporter/issues/418.

In the end I needed to require `simplecov_json_formatter` manually, when using `simplecov` `>= 0.21`.

For details: https://github.com/simplecov-ruby/simplecov#json-formatter

My changes: ht

[2022-05-02 18:06] Danon opened #536 "Failed job `fatal: unsafe repository ('/__w/T-Regx/T-Regx' is owned by someone else)`"
**Describe the bug**

Action fails with a vanilla configuration, my configuration looks like this, I think it's pretty standard.

[code]

**Version of `codeclimate-action` you're using**
`v3.0.0`

**Example links**
1. Example build run with `debug: true`: https://github.com/T-Regx/T-Regx/runs/6261918186?check_suite_focus=true
2. Workflow config: https://github.com/T-Regx/T-Regx/blob/master/.github

[2022-05-03 06:44] paambaati commented on #536
@Danon This is a known issue with container-based actions – see https://github.com/actions/checkout/issues/760 – and it looks like this has been fixed. Try updating https://github.com/T-Regx/T-Regx/blob/946c9dd6c0ef493aee3677d5e3037063a7ee6840/.github/workflows/build.yaml?rgh-link-date=2022-05-02T18%3A06%3A37Z#L45 to this –

[code]

[2022-05-03 06:44] #536 closed

[2022-05-03 10:21] Danon commented on #536
@paambaati I used `actions/checkout@v3` and get the same error: https://github.com/T-Regx/T-Regx/runs/6271561769?check_suite_focus=true

[2022-05-03 10:27] Danon commented on #536
Also from what I read, the fix has been introduced: https://github.com/actions/checkout/issues/760#issuecomment-1099219280
but if `git` is used outside of the checkout action, it may still be an error, and I presume `codeclimate-action` does use `git`.

[2022-05-03 11:51] paambaati commented on #536
@Danon Interesting; this package doesn't use `git` though.

[2022-05-03 16:15] Danon commented on #536
@paambaati That's interesting.

I updated checkout to `v3` as well as `2.4.1` and the job still fails. What else can I try?

[2022-07-06 18:40] denbon05 commented on #109
https://github.com/denbon05/fastify-lcache/runs/7219367431?check_suite_focus=true
I have a similar issue for nodejs on pull-request :/
In other cases it looks fine.
Can you give some advice?
![image](https://user-images.githubusercontent.com/58662935/177619894-f52fbc8d-2af2-48e6-ad77-2a9d68731b0a.png)

[2022-07-13 21:50] TatisLois commented on #109
@denbon05 were you able to figure it out, ran into a similar issue

[2022-07-14 06:13] denbon05 commented on #109
@TatisLois I think I figured it out. People who makes pull-request don't have CC_TEST_REPORTER_ID  in secretes so I added in my yml file into .github/workflows/ condition if github.event_name != 'pull_request'. Thanks for your response.

[2022-07-18 19:40] wolfram77 opened #577 "Unexpected type '' encountered while reading 'action manifest root'"
I am getting the following error when i try to codeclimate-action@v3.

[code]

I think this is being caused by the quotes in `verifyDownload` description in the `actions.yml` file.

Here is the action i am using (simplified):

[code]

[2022-07-19 02:31] paambaati commented on #577
See https://github.com/paambaati/codeclimate-action/pull/557#issuecomment-1155390601

[2022-07-19 02:31] #577 closed

[2022-07-19 08:31] wolfram77 commented on #577
Yes i see the issue in v3 branch, not in v3.0.0. It works now. Thank you.

[2022-08-04 12:26] exoRift opened #584 "Error upon trying to use Action"
**Describe the bug**
When trying to use this action, I get an error. Happened when I upgraded to v3. Never had it before

**Version of `codeclimate-action` you're using**
`v3`

**Example links**
[Workflow File](https://github.com/exoRift/mass-require/blob/master/.github/workflows/quality_assurance.yml)

[code]

[2022-08-04 13:49] paambaati commented on #584
Not a bug; see https://github.com/paambaati/codeclimate-action/issues/577#issuecomment-1188527480

[2022-08-04 13:49] #584 closed

[2022-09-25 10:05] msxavi opened #609 "Cannot unmarshal object into Go struct field resultSet.coverage"
**Describe the bug**

Hello there, I am not quite sure what I am missing here. I'm running my tests with RSpec inside a container. Can you please help out? I tried many different things already.

[code]

The error I am getting:
[code]

**Version of `codeclimate-action` you're using**
`v3.0.0`
With `simplecov` gem (0.21.2)

**Expected behavior**
- Send coverage to CodeClimate

**Additional context*

[2022-09-27 21:43] ericpyle commented on #316
@paambaati I had the same issue as others here.  In my case, I have jobs that generate the lcov.info files, so I just need to publish those.

Here is my coverage step in my `deploy.yml`:
[code]

Here are my github action logs (sorry that I don't have a public link).

Setup Job
[code]
Publish code coverage:
[code]

I thought that going back to `v2.7.1` fixed it like others have said, but looking at

[2022-09-28 01:20] ericpyle commented on #316
...

Okay, I suspect in my case it was because the `lcov.info` files (in coverageLocations) did not exist on disk because they only existed in the context of an earlier github job that ran those tests. When I moved the coverage step inside the test job, I no longer got this error.

@paambaati, I guess the change request would be to have a more helpful message in case the coverage files are not loc

[2022-09-28 01:34] paambaati commented on #316
@ericpyle Definitely. The CodeClimate reporter can print a better error message, as it is the one reading and parsing coverage files.

This action is simply a thin wrapper around the reporter, and only executes it with a few parameters.

[2022-09-29 01:53] msxavi commented on #609
This is an issue between simplecov 0.18+ and codeclimate test reporter. https://github.com/codeclimate/test-reporter/issues/495

[2022-09-29 01:53] #609 closed

[2022-10-13 09:55] edouard opened #621 "Deprecation warnings on CI"
**Describe the bug**
We’re getting deprecation warnings on CI due to outdated dependencies on paambaati/codeclimate-action.

The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

It looks like #612 would fix this d

[2022-10-14 05:49] paambaati commented on #621
This is now fixed and available in v3.1.0. Thanks @edouard for reporting and @fabn for sending a PR!

[2022-10-14 05:49] #621 closed

[2022-10-14 05:59] edouard commented on #621
It looks like it fixed it. Thanks!

[2022-10-20 11:09] edouard opened #626 "GitHub Actions failing with: File not found: '/home/runner/work/_actions/paambaati/codeclimate-action/v3.1.0/lib/main.js'"
Since about an hour ago, the CodeClimate step of our GitHub action fails with `File not found: '/home/runner/work/_actions/paambaati/codeclimate-action/v3.1.0/lib/main.js'`

We're running `paambaati/codeclimate-action@v3.1.0`

[2022-10-20 11:11] edouard commented on #626
We’ve rerun actions that previously succeeded and they now fail, so it probably has to do with the [latest commits pushed to the repo today](https://github.com/paambaati/codeclimate-action/commits/main)?

[2022-10-20 11:16] paambaati commented on #626
@edouard I've just published v3.1.1, can you confirm that works for you?

[2022-10-20 11:29] edouard commented on #626
@paambaati Yup, it works for me now with v3.1.1. Thank you for fixing it so quickly!

[2022-10-20 11:30] #626 closed

[2022-10-20 11:31] paambaati commented on #626
Apologies, and thanks for confirming.

To anyone else stumbling into this issue, I'm very sorry that I broke existing workflows. Please upgrade to v3.1.1 to continue using this action.

[code]

[2022-10-20 12:39] edouard commented on #626
No problem. Would it help existing users using `codeclimate-action` version < 3.1.1 if you pushed a `master` branch in interim?

[2022-10-20 23:41] mattseddon opened #627 "Incorrect branch and sha sent to Code Climate when workflow triggered by `pull_request_target` event"
**Describe the bug**

When a PR workflow is triggered by the `pull_request_target` event (required for sending secrets to forked repositories) the action sends the incorrect SHA + Branch details to Code Climate, which results in the coverage being posted on the target branch PR. It seems like the issue is here:

https://github.com/paambaati/codeclimate-action/blob/8788c820257f80343c47eb820a5f1cd97

[2022-10-21 01:34] 0x2b3bfa0 commented on #627
E.g.
[code]

[2022-10-21 07:30] paambaati commented on #626
@edouard Unfortunately, no. I've tried this too, but the error continues to show up – see https://github.com/paambaati/codeclimate-action/actions/runs/3295541744/jobs/5434208601

For now, unfortunately, the only recourse is to upgrade the action to > v3.1.1.

[2022-10-21 07:30] #627 closed

[2022-10-21 07:34] paambaati commented on #627
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/paambaati/codeclimate-action/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-21 17:10] andresionek91 opened #629 "Error when downloading action"
**Describe the bug**
Github actions cannot download the action when using `@v3` tag

[code]

**Version of `codeclimate-action` you're using**
`v3`

**Expected behavior**
Github should download and execute the action.

It works fine if specifying `@v3.2.0`.

[2022-10-21 18:03] paambaati commented on #629
Duplicate of https://github.com/paambaati/codeclimate-action/issues/626

[2022-10-21 18:03] #629 closed

[2022-10-22 07:42] andresionek91 commented on #629
I believe this is not a duplicate. Using the tag `@v3`  should be installing v3.2.2 and the bug should have been fixed.

[2022-10-23 03:02] paambaati commented on #629
There’s no published v3 version; you have to use fully specified version. So if you follow the examples, it should always be the latest, which is v3.2.0 at the time of writing.

[2022-10-23 16:52] Synertry opened #630 "TypeError: Cannot read properties of undefined (reading 'split')"
**Describe the bug**
The action errors after generating the coverage with:
[code]

**Version of `codeclimate-action` you're using**
`v3.2.0`

**Example links**
1. Configure your job to include the [`debug: true`](https://github.com/paambaati/codeclimate-action#inputs) flag and the [`ACTIONS_STEP_DEBUG` secret to `true`](https://github.com/actions/toolkit/blob/master/docs/action-debugging.md#how-to

[2022-10-25 06:34] paambaati commented on #630
@Synertry Would you mind reviewing the [documentation](https://github.com/paambaati/codeclimate-action#inputs) once again? The `coverageLocations` should be of the form `<location>:<type>`.

So it should look like this –

[code]

or –

[code]

[2022-10-25 08:50] Synertry commented on #630
I tried it with:
- `coverageLocations: ${{ github.workspace }}/coverage.out:gocov`
- `coverageLocations: ${{ github.workspace }}/coverage.out:Cover`

for the coverage from go, but it fails while trying to open one of the main files:
[code]

It is unfortunately not really clear which type I have to use for Go. The main docs states [Cover](https://docs.codeclimate.com/docs/configuring-test-coverage#

[2022-10-25 10:54] paambaati commented on #630
I would recommend you follow the documentation and try to run the reporter locally, and see if it can parse and process the coverage output correctly.

This action is just a simple wrapper to the reporter, and this error is coming from the reporter itself and not the action; unfortunately, I’m not a Go expert either, so I’m afraid I can’t help here.

Here’s where I’d start —

1. Figure out what th

[2022-10-25 19:07] Synertry commented on #630
Took the third step to heart and quickly set up a Docker instance for testing.
The format is `gocov`, but more importantly I was missing the prefix.

Final working config for Golang:
[code]

Thank you for your time and help + awesome Github action!👍💯

[2022-10-25 19:07] #630 closed

[2022-11-01 18:59] David-Trejo opened #633 "GithubActions: couldn't load committed at from ENV, trying git.."
**Describe the bug**
I am unable to get code coverage reports published onto CodeClimate. I was able to fix the formatter issue that was ocurring, but now experience this issue of `couldn't load committed at from ENV, trying git..`. I've attached a picture of the logs from GithubActions. Any solutions to be able to get it to work?

I've tried downgrading the library to 2.7.0 with the simplest conf

[2022-11-03 05:52] paambaati commented on #633
@David-Trejo Is there a small reproducible example or a link to the full workflow? This seems like the reporter itself is not able to process the coverage output.

If you look at the output, it suggests that while the coverage output was generated, the source file at `src/components/List.js` was not found. Can you confirm that you're able to publish coverage locally?

[2022-11-04 18:02] David-Trejo commented on #633
I ended up resolving the issue with the following solution. After applying, the `src/components/List.js` has found.

// jest.config.js
module.exports = {
  ...
  coverageReporters: [['lcov', { projectRoot: '../../../../' }]]
  ...
};

[2022-11-04 19:08] #633 closed